#root {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: helvetica, arial, verdana, sans-serif, 'FontAwesome';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.google-login-button {
    iframe {
        width: calc(100% + 20px) !important;
        margin: unset !important;
        left: -10px !important;
    }
}

.ag-header {
    z-index: 1000;
}
